
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    /* background: linear-gradient(white, gray); */
    height: 100vh;
    color: #e98a1d;
    background-color: rgb(72, 219, 175);
    /* border: 1px solid black; */

}




.container{
    /* border: 1px solid red;   */
    margin: 5vw;
    /* margin-bottom: 5em; */
}                                                    

h1 {
    text-shadow: 0px 5px 0px black;
    font-size: 7vw;
    line-height: 24px;
    transform: rotate(-9deg);
}

h2{
    /* text-shadow: 0px 3px 0px black; */
    font-size:20px;
    line-height: 24px;
    transform: rotate(-9deg);
}


#stage {
    width: 100%;
    height: 60px;
    padding: 30px 0px 10px 0px;
    font-size: 30px;
    margin: 0;
}

button {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
}
#win-btn{
    background: white;
    color: #e98a1d;
    border: 1px solid rgb(186, 238, 0);
}